@media (max-width: 1200px) {
	.continer{
		width: 100%;
		padding: 0 30px;
		
	}
	.flex_box{
		flex-wrap: wrap;


	}
	.grid_content {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,271px);
    justify-content: center;
    column-gap: 25px;
    row-gap: 28px;
    }
    .home_content img{
    	width: 100%;
    }
    .footer_flex{
    	flex-wrap: wrap;
    	justify-content: space-around;
    	row-gap: 15px;
    }
    #top{
	width: 80px;
	height: 80px;
	display: inline-block;
	transform: rotate(-90deg);
	position: fixed;
}
}
@media (max-width: 860px){
	.continer{
		width: 100%;
		padding: 0 30px;
		height: auto;
	}
	.grid_content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(8,minmax(<271px>, <auto>));
    justify-content: center;
    column-gap: 25px;
    row-gap: 28px;
    }
    #top{
	width: 60px;
	height: 60px;
	display: inline-block;
	transform: rotate(-90deg);
	position: fixed;
}
}
@media (max-width: 590px){
	.continer{
		width: 100%;
		padding: 0 30px;

	}
	.header_box{
		gap: 15px;
	}
	.header_box img{
		width: 100%;
	}
	

	header .header_box a {
    	font-weight: 400;
    	font-size: 10px;
    	line-height: 15px;
    	color: #000000;
    	text-decoration: none;
    	text-transform: uppercase;
    }	
		.grid_content {
		display: none;
    }
    .grid_content1{
    	display: grid;
    	grid-template-columns: repeat(2,1fr);
    	grid-template-rows: repeat(3,minmax(271px, auto));
    	justify-content: center;
    	column-gap: 25px;
    	row-gap: 28px;

    }
    .desk_text h1 {
    	font-weight: 400;
    	font-size: 37px;
    	line-height: 46px;
    	margin-bottom: 12px;
	}
	#top{
	width: 50px;
	height: 50px;
	display: inline-block;
	transform: rotate(-90deg);
	position: fixed;
}
}

@media (max-width: 420px){
	.header_box{
		gap: 5px;
	}
	.footer_flex div p{
		font-size: 18
		px;
	}
	header .header_box a {
    	font-weight: 400;
    	font-size: 7px;
    	line-height: 15px;
    	color: #000000;
    	text-decoration: none;
    	text-transform: uppercase;
    }
    #top{
	width: 40px;
	height: 40px;
	display: inline-block;
	transform: rotate(-90deg);
	position: fixed;
}
}
@media (max-width: 390px){
	.continer{
		width: 100%;
		padding: 0 30px;
	}
	body{
		padding-top: 15px;
	}
	header{
		height: 37px;
	}
	header .header_box {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
		}
		header .header_box a {
    font-weight: 400;
    font-size: 7px;
    line-height: 7px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}
		
	.grid_content1 {
		
    	display: grid;
    	grid-template-columns: repeat(1,1fr);
    	grid-template-rows: repeat(6,minmax(271px, auto));
    	justify-content: center;
    	
    	
    }
    .design_inspires_text h1 {
    	font-weight: 400;
    	font-size: 36px;
    	line-height: 33px;
    	margin-bottom: 10px;
	}
	.desk_text h1 {
    	font-weight: 400;
    	font-size: 31px;
    	line-height: 34px;
    	margin-bottom: 12px;
	}
	#top{
	width: 30px;
	height: 30px;
	display: inline-block;
	transform: rotate(-90deg);
	position: fixed;
	}
}
@media (max-width: 330px){
	.design_inspires_text h1 {
    	font-weight: 400;
    	font-size: 27px;
    	line-height: 12px;
    	margin-bottom: 10px;
	}
	.design_inspires .flex_box h2 {
    	font-weight: 400;
    	font-size: 23px;
    	line-height: 24px;
    	margin: 48px 0 23px;
	}
	.flex_box div{
		min-width: 100%;
	}
	.footer_flex div p{
		font-size: 12px;
	}
	#top{
	width: 20px;
	height: 20px;
	display: inline-block;
	transform: rotate(-90deg);
	position: fixed;
}
}